@page "/classinschools/delete"
@inject DataAccess.SocialDbContext DB
@using Domain.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClassInSchool</h4>
    <hr />
    @if (classinschool is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ClassName</dt>
            <dd class="col-sm-10">@classinschool.ClassName</dd>
        </dl>
        <EditForm method="post" Model="classinschool" OnValidSubmit="DeleteClassInSchool" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(classinschool is null)">Delete</button> |
            <a href="/classinschools">Back to List</a>
        </EditForm>
    }
</div>

@code {
    ClassInSchool? classinschool;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        classinschool = await DB.ClassInSchools.FirstOrDefaultAsync(m => m.Id == Id);

        if (classinschool is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    public async Task DeleteClassInSchool()
    {
        DB.ClassInSchools.Remove(classinschool!);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/classinschools");
    }
}
