@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-lg-8">
        <div class="add-margin-to-overview">
            <div class="row overview-row-content">
                <h2>Overview</h2>
                <div class="row  mt-2">
                    <div class="col-4 d-flex justify-content-center"><b>Total Users</b> </div>
                    <div class="col-2 d-flex justify-content-center"><b>Staffs</b></div>
                    <div class="col-2 d-flex justify-content-center"><b>Students</b></div>
                </div>
                <div class="row  mt-2">
                    <div class="col-4 d-flex justify-content-center"><b>10</b></div>
                    <div class="col-2 d-flex  justify-content-center"><b>3</b></div>
                    <div class="col-2 d-flex justify-content-center"><b>7</b></div>
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col-4 d-flex justify-content-end"><a class="add-new-button" href="#">Add New</a></div>
                </div>
            </div>
        </div>

        <div class="row margin-to-section-3">
            <div class="row overview-row-content min-height">
                <div class="col"><b>Recently Added</b> </div>
                <div class="col">
                    <div class="row d-flex justify-content-end">
                        <div class="d-flex justify-content-end"><a class="add-new-button" href="#">View All</a></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="row overview-row-content min-height section-2">
            <div class="col"><b>Notifications</b> </div>
            <div class="col">
                <div class="row d-flex justify-content-end">
                    <div class="d-flex justify-content-end"><a class="add-new-button" href="#">View All</a></div>
                </div>
            </div>

        </div>
    </div>
</div>
@code {

}