@page "/StudentRegistration"
@rendermode InteractiveServer
@using Domain.DTOs
@using Domain.Models
@using Application.ClassInSchoolM.Query
@inject MediatR.IMediator Mediaror

<link href="/css/reg.css" rel="stylesheet" />
<PageTitle>Student Registration</PageTitle>

<div class="container">
    <div class="form first">
        <EditForm Model="@studentDTOs">

            <div class="details personal">
                <span class="title">Personal Details</span>

                <div class="fields">
                    <div class="input-field">
                        <label>First Name</label>
                        <InputText @bind-Value=studentDTOs.FirstName type="text" placeholder="Enter your name" required></InputText>
                    </div>
                    <div class="input-field">
                        <label>Last Name</label>
                        <InputText @bind-Value=studentDTOs.LastName type="text" placeholder="Enter your name" required></InputText>
                    </div>

                    <div class="input-field">
                        <label>Date of Birth</label>
                        <InputDate @bind-Value=studentDTOs.DOB></InputDate>
                    </div>

                    <div class="input-field">
                        <label>Gender</label>
                        <InputSelect @bind-Value=studentDTOs.Gender required>
                            <option disabled selected>Select gender</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Others</option>
                        </InputSelect>
                    </div>
                    <div class="input-field">
                        <label>Department </label>
                        <InputSelect @bind-Value=studentDTOs.Department required>
                            <option disabled selected>Select Department</option>
                            <option>Science</option>
                            <option>Commercial</option>
                            <option>Art</option>
                        </InputSelect>
                    </div>

                    <div class="input-field">
                        <label>
                            Date Enrolled
                        </label>
                        <InputDate @bind-Value=studentDTOs.DateEnrolled></InputDate>
                    </div>
                    <div class="input-field">
                        <label>Class</label>
                        <InputSelect @bind-Value=studentDTOs.ClassInSchoolId required>
                            <option disabled value="-1" selected>Select Class</option>
                            @foreach (var item in classInSchools)
                            {
                                <option value="@item.Id">@item.ClassName</option>
                            }
                        </InputSelect>
                    </div>

                </div>
            </div>


            <form Model="studentGuardianDTOs">
                <div class="details ID">
                    <span class="title">Guardian Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>First Name</label>
                            <InputText @bind-Value=studentGuardianDTOs.FirstName type="text" placeholder="Enter your name" required></InputText>
                        </div>
                        <div class="input-field">
                            <label>Last Name</label>
                            <InputText @bind-Value=studentGuardianDTOs.LastName type="text" placeholder="Enter your name" required></InputText>
                        </div>

                        <div class="input-field">
                            <label>Phone Number</label>
                            <InputText @bind-Value=studentGuardianDTOs.PhoneNumber type="text" placeholder="Enter phone number" required></InputText>
                        </div>

                        <div class="input-field">
                            <label>Status</label>
                            <select required>
                                <option disabled selected>Select Status</option>
                                <option>Mrs</option>
                                <option>Mr</option>
                                <option>Miss</option>
                                <option>master</option>
                                <option>divorced</option>
                                <option>widow or widower</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Relationship</label>
                            <InputSelect @bind-Value=studentGuardianDTOs.Relationship required>
                                <option disabled selected>Select Relationship</option>
                                <option>Parent</option>
                                <option>Guardian</option>
                                <option>Sibling</option>

                            </InputSelect>
                        </div>

                        <div class="input-field">
                            <label>Occupation</label>
                            <InputText @bind-Value=studentGuardianDTOs.Occupation type="text" placeholder="Enter Occupation" required></InputText>
                        </div>
                    </div>

                    <button class="nextBtn">
                        <a href="reg.html" style="text-decoration: none;color: white;">Next</a>

                    </button>
                </div>
            </form>
        </EditForm>
    </div>
</div>

@code {
    private StudentDTOs studentDTOs;
    private StudentGuardianDTOs studentGuardianDTOs;
    private List<ClassInSchool>? classInSchools;
    protected override async Task OnInitializedAsync()
    {
        classInSchools = await Mediaror.Send(new GetClassesInSchoolQuery());
        studentDTOs = new StudentDTOs();
        studentGuardianDTOs = new StudentGuardianDTOs();
    }
}