<div class="top-row px-4">
    <div class="home-text col-2">
        <h3>Home</h3>
    </div>
    <div class="col app-bar-center-column">
        <div class="input-group search-app-bar">
            <span class="bi bi-search-fill-nav-menu" aria-hidden="true"></span>
            <div class="form-outline" data-mdb-input-init>
                <input type="search" class="search-input" />
            </div>
        </div>
    </div>
    <div class="profile-pic-and-name  col-3">
        <div class="row align-items-start">
            <div class="col  profile-icon-box">
                <span class="pi bi-profile-fill-nav-menu" aria-hidden="true"></span>
            </div>
            <div class="col">
                <h4>Admin</h4>
                <h6>Karo E</h6>
            </div>
        </div>

    </div>
</div>